:root {
  --color-body-bg: hsl(212, 45%, 89%);
  --color-card-bg: #fff;
  --color-link: hsl(216, 15%, 48%);
  --color-text: hsl(218, 44%, 22%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: var(--color-body-bg);

  font-family: "Outfit", sans-serif;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: clamp(0.75rem, 1vw, 2rem);
  gap: 1rem;
  width: clamp(280px, 90%, 375px);
  box-sizing: border-box;

  background-color: var(--color-card-bg);

  border-radius: 1rem;
  overflow: hidden;
}

.card__figure {
  border-radius: inherit;
}

.card__image {
  width: 100%;
  margin-block-end: clamp(0.75rem, 1.5vw + 0.5rem, 1.5rem);

  border-radius: inherit;
}

.card__caption {
  font-size: 1.3rem;
  font-weight: 700;
}

.card__description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-link);
}

.footer__text {
  font-size: 0.8875rem;
}

.footer a {
  color: var(--color-text);
}
