:root {
  --base-font-size: 1rem;

  --color-body-bg: hsl(212, 45%, 89%);
  --color-card-bg: #fff;
  --color-card-desc: hsl(216, 15%, 48%);
  --color-text: hsl(218, 44%, 22%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--base-font-size);

  background-color: var(--color-body-bg);

  font-family: "Outfit", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: clamp(0.75rem, 1vw, 2rem);
  gap: var(--base-font-size);
  width: clamp(17.5rem, 50vw, 23.4375rem);
  box-sizing: border-box;

  background-color: var(--color-card-bg);

  text-align: center;

  border-radius: var(--base-font-size);
  overflow: hidden;
}

.card__figure {
  border-radius: inherit;
}

.card__image {
  object-fit: cover;

  width: 100%;
  margin-block-end: clamp(0.75rem, 1.5vw, 1.5rem);

  border-radius: inherit;
}

.card__caption {
  font-size: clamp(1rem, 1rem + 1.5vw, 1.6rem);
  font-weight: 700;
}

.card__description {
  font-size: var(--base-font-size);
  font-weight: 400;
  color: var(--color-card-desc);
}

.footer__text {
  font-size: 0.8875rem;
}

.footer__link {
  color: var(--color-text);
}
